PORT=8181

#Database
DB_NAME=yourdb_name
DB_HOST=localhost
DB_PASSWORD=your_password
DB_USERNAME=your_dbusername
DB_DIALECT=mysql,mssql

NODE_ENV=development/production


#Origins
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173

ACCESS_TOKEN_SECRET=xxxx